:root {
	--baltic-blue: #376996;
	--rosy-copper: #CD5334;
	--floral-white: #FEF7EB;

	--primary-color: var(--baltic-blue);
	--accent-color: var(--rosy-copper);
	--background-color: var(--floral-white);
	--light-text-color: var(--floral-white);

	--radius: 1rem;
	--box-shadow: rgba(149, 157, 165, 0.5) 0 0.2rem 0.6rem;
	--drop-shadow: drop-shadow(0 0.2rem 0.6rem rgba(149, 157, 165, 0.5));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-family: "Cause", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	background-color: var(--primary-color);
}

body {
	background-color: var(--background-color);
}

main {
	padding: 1rem;
	max-width: 50rem;
	margin: 1rem auto;
	min-height: 80vh;
}

header {
	display: flex;
	background-color: var(--primary-color);
	align-items: center;
	justify-content: space-between;
	color: var(--light-text-color);
	flex-wrap: wrap;

	span {
		display: flex;
		font-size: larger;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem;
		font-weight: bold;
	}

	.hamburger {
		display: inline-block;
		--size: 2rem;
		width: var(--size);
		height: var(--size);
		margin-right: 0.75rem;
		background-color: currentColor;
		mask: url("../images/menu.svg") no-repeat center / contain;
	}

	nav#navbar {
		box-shadow: var(--box-shadow);
		padding: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 1s ease-out;

		a {
			color: inherit;
			text-decoration: none;
			font-size: larger;
			padding: 1rem;
			flex-grow: 1;
		}

		a.active {
			background-color: var(--background-color);
			color: var(--primary-color);
		}
	}
}

header.active {
	.hamburger {
		mask: url("../images/x.svg") no-repeat center / contain;
	}

	nav#navbar {
		max-height: 1000rem;
	}
}

@media screen and (min-width: 40rem) {
	header {
		.hamburger {
			display: none;
		}

		nav#navbar {
			box-shadow: none;
			width: initial;
			flex-direction: row;
			max-height: 1000rem;

			a {
				/* flex-grow: 0; */
			}
		}
	}
}

footer {
	background-color: var(--primary-color);
	color: var(--light-text-color);
	padding: 1rem;

	a {
		color: var(--light-text-color);
		text-decoration: none;
		margin: 1rem;
	}

	a:visited {
		color: var(--light-text-color);
	}

	div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.logo-with-title {
	display: flex;
	font-size: larger;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color);
	margin: 1rem 0;
}

ul, ol {
	margin-left: 1rem;
	font-size: large;
}

li {
	margin: 0.5rem 0;
}

select {
	background-color: var(--primary-color);
	box-shadow: var(--box-shadow);
	color: var(--light-text-color);
	padding: 0.25rem 0.5rem;
	border-radius: 100rem;
	text-align: center;
}

.mailing-list-signup {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;

	> h2 {
		margin: 0;
	}

	> div {
		display: flex;
		width: 100%;
		gap: 1rem;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	> p {
		margin: 0;
		text-align: center;
	}
}

input {
	border-radius: var(--radius);
	font-size: medium;
	padding: 1rem;
	flex-grow: 1;
	max-width: 20rem;
}

button {
	border-radius: var(--radius);
	background-color: var(--primary-color);
	color: var(--light-text-color);
	border: none;
	font-size: medium;
	padding: 1rem;
	flex-grow: 1;
	max-width: 20rem;
}

input, button {
	transition: transform 0.15s ease-out;
	box-shadow: var(--box-shadow);
}

input:hover, button:hover {
	transform: scale(1.05);
}

input:hover:active, button:hover:active {
	transform: scale(0.95);
}

p, label, select, option, span {
	font-size: large;
}

label {
	color: var(--primary-color);
}

p {
	margin: 1rem 0;
}

a {
	color: var(--accent-color);
	transition: font-weight 0.15s ease-out;
}

a:visited {
	color: var(--primary-color);
}

a:hover {
	font-weight: bold;
}

pre {
	background-color: var(--primary-color);
	border-radius: var(--radius);
	padding: 1rem;
	color: var(--light-text-color);
	box-shadow: var(--box-shadow);
}

code {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

strong {
	color: var(--accent-color);
}

img, object {
	width: 100%;
	filter: var(--drop-shadow);
}

.logo {
	display: inline-block;
	--size: 2rem;
	width: var(--size);
	height: var(--size);
	background-color: currentColor;
	mask: url("../images/logo.svg") no-repeat center / contain;
}

.flex {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.home-div {
	gap: 2rem;

	> div {
		flex-grow: 1;
  		width: 10rem;
	}

	> img {
		max-width: 35rem;
	}
}

table {
	--border-style: 1px solid rgba(0, 0, 0, 0.5);
	border-collapse: separate;
	border-spacing: 0;

	box-shadow: var(--box-shadow);
	border-radius: var(--radius);
	
	width: 100%; 

	td {
		border: var(--border-style);
		border-left: none;
		border-top: none;
		padding: 1rem;
	}

	tr {
		td:first-child {
			border-left: var(--border-style);
		}
	}

	thead {
		font-weight: bold;


		tr:first-child {
			td:first-child {
				border-top-left-radius: var(--radius);
			}

			td {
				border-top: var(--border-style);
				background-color: var(--primary-color);
				color: var(--light-text-color);
			}

			td:last-child {
				border-top-right-radius: var(--radius);
			}
		}
	}

	tbody {
		tr:last-child {
			td:first-child {
				border-bottom-left-radius: var(--radius);
			}

			td:last-child {
				border-bottom-right-radius: var(--radius);
			}
		}
	}
}

table.color-schema {
	td.preview {
		background-color: var(--preview-color);
	}

	td.preview.baltic-blue {
		--preview-color: var(--baltic-blue);
	}

	td.preview.rosy-copper {
		--preview-color: var(--rosy-copper);
	}

	td.preview.floral-white {
		--preview-color: var(--floral-white);
	}
}