:root {
    --white: rgb(244, 244, 244)
}

h1 {
    margin: 20px;
    width: 100%;
}

footer {
    padding: 20px;
    text-align: center;
}

body {
    display: grid;
    grid-template: 15em 30em 20em / 3fr 1fr;
    margin: 0;
}

header {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

nav {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
}

main, aside {
    padding: 20px;
}

main {
    background-color: rgb(204, 204, 204);
}

nav a {
    color: var(--white);
    text-decoration: none;
    margin: 10px 30px;
    display: block;
}

header, footer {
    grid-column: span 2;
    background-color: rgb(51, 51, 51);
    color: var(--white);
}

